@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-yt-black text-white overflow-hidden;
}

/* Thêm vào cuối file style.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
    display: none;
}